<div class="teachers">
    <app-header-log class="teachers-header"></app-header-log>
    <app-label-log class="teachers-label"></app-label-log>

    <div class="next-theme">
        <h2 class="header-text theme-header-text">Наступна тема</h2>
        <p class="theme">Present Perfect. Irregular verbs</p>
        <div class="image">
            <img src="../../../assets/images/cat_with_pc.png" alt="next theme photo">
        </div>
    </div>

    <div class="teachers-container">

        <div class="students">
            <h2 class="students-header header-text">Студенти</h2>    
            <div class="students-list">
                <div class="student">
                    <div class="student-info">
                        <div class="avatar">
                            <span class="first-letter">A</span>  <!-- can replace to img if student have avatar -->
                        </div>
                        <h3 class="initials">Аліна Гончар</h3>
                    </div>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle ofline"></div>
                    </div>
                    <div class="marks">
                        <img src="../../../assets/images/star.svg" alt="star logo">
                        <div class="mark">
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="student">
                    <div class="student-info">
                        <div class="avatar">
                            <span class="first-letter">A</span>  <!-- can replace to img if student have avatar -->
                        </div>
                        <h3 class="initials">Аліна Гончар</h3>
                    </div>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle ofline"></div>
                    </div>
                    <div class="marks">
                        <img src="../../../assets/images/star.svg" alt="star logo">
                        <div class="mark">
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="student">
                    <div class="student-info">
                        <div class="avatar">
                            <span class="first-letter">A</span>  <!-- can replace to img if student have avatar -->
                        </div>
                        <h3 class="initials">Аліна Гончар</h3>
                    </div>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle ofline"></div>
                    </div>
                    <div class="marks">
                        <img src="../../../assets/images/star.svg" alt="star logo">
                        <div class="mark">
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="student">
                    <div class="student-info">
                        <div class="avatar">
                            <span class="first-letter">A</span>  <!-- can replace to img if student have avatar -->
                        </div>
                        <h3 class="initials">Аліна Гончар</h3>
                    </div>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle ofline"></div>
                    </div>
                    <div class="marks">
                        <img src="../../../assets/images/star.svg" alt="star logo">
                        <div class="mark">
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="student">
                    <div class="student-info">
                        <div class="avatar">
                            <span class="first-letter">A</span>  <!-- can replace to img if student have avatar -->
                        </div>
                        <h3 class="initials">Аліна Гончар</h3>
                    </div>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle ofline"></div>
                    </div>
                    <div class="marks">
                        <img src="../../../assets/images/star.svg" alt="star logo">
                        <div class="mark">
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="student">
                    <div class="student-info">
                        <div class="avatar">
                            <span class="first-letter">A</span>  <!-- can replace to img if student have avatar -->
                        </div>
                        <h3 class="initials">Аліна Гончар</h3>
                    </div>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle ofline"></div>
                    </div>
                    <div class="marks">
                        <img src="../../../assets/images/star.svg" alt="star logo">
                        <div class="mark">
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="student">
                    <div class="student-info">
                        <div class="avatar">
                            <span class="first-letter">A</span>  <!-- can replace to img if student have avatar -->
                        </div>
                        <h3 class="initials">Аліна Гончар</h3>
                    </div>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle ofline"></div>
                    </div>
                    <div class="marks">
                        <img src="../../../assets/images/star.svg" alt="star logo">
                        <div class="mark">
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="student">
                    <div class="student-info">
                        <div class="avatar">
                            <span class="first-letter">A</span>  <!-- can replace to img if student have avatar -->
                        </div>
                        <h3 class="initials">Аліна Гончар</h3>
                    </div>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle ofline"></div>
                    </div>
                    <div class="marks">
                        <img src="../../../assets/images/star.svg" alt="star logo">
                        <div class="mark">
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="student">
                    <div class="student-info">
                        <div class="avatar">
                            <span class="first-letter">A</span>  <!-- can replace to img if student have avatar -->
                        </div>
                        <h3 class="initials">Аліна Гончар</h3>
                    </div>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle ofline"></div>
                    </div>
                    <div class="marks">
                        <img src="../../../assets/images/star.svg" alt="star logo">
                        <div class="mark">
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="student">
                    <div class="student-info">
                        <div class="avatar">
                            <span class="first-letter">A</span>  <!-- can replace to img if student have avatar -->
                        </div>
                        <h3 class="initials">Аліна Гончар</h3>
                    </div>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle ofline"></div>
                    </div>
                    <div class="marks">
                        <img src="../../../assets/images/star.svg" alt="star logo">
                        <div class="mark">
                            <span>12</span>
                        </div>
                    </div>
                </div>
                <div class="student">
                    <div class="student-info">
                        <div class="avatar">
                            <span class="first-letter">A</span>  <!-- can replace to img if student have avatar -->
                        </div>
                        <h3 class="initials">Аліна Гончар</h3>
                    </div>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle ofline"></div>
                    </div>
                    <div class="marks">
                        <img src="../../../assets/images/star.svg" alt="star logo">
                        <div class="mark">
                            <span>12</span>
                        </div>
                    </div>
                </div>
            </div>
         </div>

         <div class="homeworks">
            <h2 class="header-text homeworks-header-text">Домашні завдання</h2>
            <div class="homeworks-content">
                <div class="homeworks-head-text">
                    <span class="text">Імʼя</span>
                    <span class="text">Тема</span>
                    <span class="text">Дата</span>
                </div>
                <div class="homework-list">
                    <div class="homework">
                        <span class="hw-text">Світлана Чопик</span>
                        <span class="hw-text">Present Perfect</span>
                        <span class="hw-text">12.10</span>
                    </div>
                    <div class="homework">
                        <span class="hw-text">Світлана Чопик</span>
                        <span class="hw-text">Present Perfect</span>
                        <span class="hw-text">12.10</span>
                    </div>
                    <div class="homework">
                        <span class="hw-text">Світлана Чопик</span>
                        <span class="hw-text">Present Perfect</span>
                        <span class="hw-text">12.10</span>
                    </div>
                    <div class="homework">
                        <span class="hw-text">Світлана Чопик</span>
                        <span class="hw-text">Present Perfect</span>
                        <span class="hw-text">12.10</span>
                    </div>
                    <div class="homework">
                        <span class="hw-text">Світлана Чопик</span>
                        <span class="hw-text">Present Perfect</span>
                        <span class="hw-text">12.10</span>
                    </div>
                    <div class="homework">
                        <span class="hw-text">Світлана Чопик</span>
                        <span class="hw-text">Present Perfect</span>
                        <span class="hw-text">12.10</span>
                    </div>
                    <div class="homework">
                        <span class="hw-text">Світлана Чопик</span>
                        <span class="hw-text">Present Perfect</span>
                        <span class="hw-text">12.10</span>
                    </div>
                    <div class="homework">
                        <span class="hw-text">Світлана Чопик</span>
                        <span class="hw-text">Present Perfect</span>
                        <span class="hw-text">12.10</span>
                    </div>
                    <div class="homework">
                        <span class="hw-text">Світлана Чопик</span>
                        <span class="hw-text">Present Perfect</span>
                        <span class="hw-text">12.10</span>
                    </div>
                    <div class="homework">
                        <span class="hw-text">Світлана Чопик</span>
                        <span class="hw-text">Present Perfect</span>
                        <span class="hw-text">12.10</span>
                    </div>
                    <div class="homework">
                        <span class="hw-text">Світлана Чопик</span>
                        <span class="hw-text">Present Perfect</span>
                        <span class="hw-text">12.10</span>
                    </div>
                    <div class="homework">
                        <span class="hw-text">Світлана Чопик</span>
                        <span class="hw-text">Present Perfect</span>
                        <span class="hw-text">12.10</span>
                    </div>
                </div>
            </div>
         </div>

         <div class="section-schedule">
            <div class="section-schedule-month">
                <span>Розклад</span>
                <div>
                    <span>&#60;</span>
                    <span>Січень</span>
                    <span>&#62;</span>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ПН</th>
                        <th>ВТ</th>
                        <th>СР</th>
                        <th>ЧТ</th>
                        <th>ПТ</th>
                        <th>СБ</th>
                        <th>НД</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td class="section-schedule-day-study">
                            <span>16</span>
                        </td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td class="section-schedule-day-study">
                            <span>20</span>
                        </td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td class="section-schedule-day-test">
                            <span>22</span>
                        </td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td class="section-schedule-day-study">
                            <span>28</span>
                        </td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                    </tr> 
                </tbody>
            </table>
            <div class="section-schedule-icons">
                <div>
                    <img src="../../../assets/images/input_selected.svg" alt="input"/>
                    <span>Заннятя</span>
                </div>
                <div>
                    <img src="../../../assets/images/input_test.svg" alt="input"/>
                    <span>Тестування</span>
                </div>
            </div>
        </div>

        
    <div class="section-notification">
        <div>
            <h2 class="header-text notification-header">Нагадування</h2>
            <div class="notification-images">
                <img src="../../../assets/images/lampa.png" alt="lampa"/>
                <img src="../../../assets/images/head_cat.png" alt="cat"/>
            </div>
        </div>
        <ul>
            <li>
                <span>Загрузити домашнє завдання на тему<span class="section-notification-accent"> Modal Verbs</span></span>
            </li>
            <li>
                <span>Переглянути відео урок на тему<span class="section-notification-accent"> Giving Advice</span></span>
            </li>
            <li>
                <span>Пройти тестування по темі<span class="section-notification-accent"> Past Perfect</span></span>
            </li>
            <li>
                <span>Переглянути відео урок на тему<span class="section-notification-accent"> Direct Speech</span></span>
            </li>
            <li>
                <span>Пройти тестування по темі<span class="section-notification-accent"> Articles</span></span>
            </li>
        </ul>
    </div>

    
    <section class="lesson-block">
        <h2 class="header-text lesson-header ">Навчання</h2>
        <div class="lesson-elements">

            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>
                 <span class="lesson-date">12.01.2025</span>
            </div>

        </div>
    </section>
    </div>
</div>
