<header *ngIf="!hideHeader">
    <div class="navbar">
        <div class="logo">Talksy</div>
        <div class="nav-links">
            <a [routerLink]="['/']" fragment="about-us">Про нас</a>
            <a href="#">Особливості</a>
            <a href="#">Відгуки</a>
            <a href="#">Контакти</a>
        </div>
        <div class="auth-links">
            <nav>
                <a [routerLink]="['login-registration','login']" class="login">Вхід</a>
                <a [routerLink]="['login-registration','registration']" class="register">Реєстрація</a>
            </nav>
        </div>
        <div class="nav-actions">
            <div class="auth-icons">
                <img src="assets/images/svg/hedic1.svg" alt="Іконка 1">
                <img src="assets/images/svg/hedic2.svg" alt="Іконка 2">
            </div>

            <label class="burger" for="burger">
                <input type="checkbox" id="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
    </div>
</header>


