<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"/>
<div class="main-container">
    <div *ngIf="mode === 'login'">
        <div class="container">
            <div class="left">
                <img alt="login_img" src="assets/images/login-main.png" width="490" height="490" />
            </div>
            <form [formGroup]="authForm" (ngSubmit)="login()">
                <div class="right">
                    <h1>З поверненням!</h1>
                    <div class="input-group" [ngClass]="{ error: email?.invalid && email?.touched }">
                        <input formControlName="email" type="text" placeholder="E-mail" />
                        <i
                                class="fas icon"
                                [ngClass]="{
                                    'fa-check': email?.valid,
                                    'fa-exclamation': email?.invalid && email?.touched
                                }"
                        ></i>
                    </div>
                    <div class="input-group" [ngClass]="{ error: password?.invalid && password?.touched }">
                        <input formControlName="password" type="password" placeholder="Пароль" />
                        <i
                                class="fas icon"
                                [ngClass]="{
                                    'fa-check': password?.valid,
                                    'fa-exclamation': password?.invalid && password?.touched
                                }"
                        ></i>
                    </div>
                    <div class="forgot-password">
                        <a>Забули пароль?</a>
                    </div>
                    <!-- <input class="login-button" type="submit"  [disabled]="authForm.invalid" /> -->
                    <input class="login-button" type="submit" />
                    <div class="register">
                        Немає аккаунту?
                        <a href="#">ЗАРЕЄСТРУВАТИСЬ</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Registration Section -->
    <div *ngIf="mode === 'registration'">
        <div class="container">
            <div class="left">
                <img alt="reg_img" src="assets/images/reg-main.png" width="490" height="490" />
            </div>
            <form [formGroup]="authForm" (ngSubmit)="registration()">
                <div class="right">
                    <h1>Створити аккаунт</h1>
                    <span *ngIf="invalid" style="color: red;">{{invalid}}</span>
                    
                    <div *ngIf="registrationCount == 0 " class="input-group" [ngClass]="{ error: email?.invalid && email?.touched }">
                        <input formControlName="email" type="email"  placeholder="E-mail" />
                        <i
                                class="fas icon"
                                [ngClass]="{
                                'fa-check': email?.valid,
                                'fa-exclamation': email?.invalid && email?.touched
                            }"
                        ></i>
                    </div>
                    <div *ngIf="registrationCount === 0 " class="input-group" [ngClass]="{ error: password?.invalid && password?.touched }">
                        <input formControlName="password" 
                        type="password"
                        placeholder="Пароль" />
                        <i
                                class="fas icon"
                                [ngClass]="{
                                'fa-check': password?.valid,
                                'fa-exclamation': password?.invalid && password?.touched
                            }"
                        ></i>
                    </div>
                    <div  *ngIf="registrationCount === 0 "
                            class="input-group"
                            [ngClass]="{ error: confirmPassword?.invalid && confirmPassword?.touched || authForm.errors?.['mismatch'] }"
                    >
                        <input formControlName="confirmPassword" type="password"  placeholder="Підтвердити пароль" />
                        <i
                                class="fas icon"
                                [ngClass]="{
                                'fa-check': confirmPassword?.valid && !authForm.errors?.['mismatch'],
                                'fa-exclamation': confirmPassword?.invalid && confirmPassword?.touched || authForm.errors?.['mismatch']
                                }"
                        ></i>
                    </div>

                    <div   *ngIf="registrationCount === 1 "
                            class="input-group"
                            [ngClass]="{ error: name?.invalid && name?.touched || authForm.errors?.['mismatch'] }"
                    >
                        <input formControlName="name" type="text"  placeholder="Ім'я" />
                        <i      
                                class="fas icon"
                                [ngClass]="{
                                'fa-check': name?.valid && !authForm.errors?.['mismatch'],
                                'fa-exclamation': name?.invalid && name?.touched || authForm.errors?.['mismatch']
                                }"
                        ></i>
                    </div>
                    <div  *ngIf="registrationCount === 1 "
                            class="input-group"
                            [ngClass]="{ error: lastname?.invalid && lastname?.touched || authForm.errors?.['mismatch'] }"
                    >
                        <input formControlName="lastname" type="text'"  placeholder="Ім'я" />
                        <i
                                class="fas icon"
                                [ngClass]="{
                                'fa-check': lastname?.valid && !authForm.errors?.['mismatch'],
                                'fa-exclamation': lastname?.invalid && lastname?.touched || authForm.errors?.['mismatch']
                                }"
                        ></i>
                    </div>
                    <div  *ngIf="registrationCount === 1 "
                            class="input-group"
                            [ngClass]="{ error: birthday?.invalid && birthday?.touched || authForm.errors?.['mismatch'] }"
                    >
                        <input formControlName="birthday" type="date"  placeholder="Ім'я" />
                        <i
                                
                                class="fas icon"
                                [ngClass]="{
                                'fa-check': birthday?.valid && !authForm.errors?.['mismatch'],
                                'fa-exclamation': birthday?.invalid && birthday?.touched || authForm.errors?.['mismatch']
                                }"
                        ></i>
                    </div>
                    
                    <div  *ngIf="registrationCount === 2 "
                            class="input-group"
                            [ngClass]="{ error: birthday?.invalid && birthday?.touched || authForm.errors?.['mismatch'] }"
                    >
                        <input formControlName="level" type="hidden"  placeholder="Ім'я" />
                    </div>
                    <button  (click)="nexyStepRegister()" class="login-button" type="button"  >Далі</button>
                    
                    <div class="register">
                        Вже маєте аккаунт?
                        <a href="#">УВІЙТИ</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Code Accept Section -->
    <div *ngIf="mode === 'accept'">
        <div class="container-accept">
            <h1>Введіть код</h1>
            <p>На вашу електронну пошту був надісланий 6-значний код, який потрібно ввести нижче</p>
            <form [formGroup]="authForm" (ngSubmit)="registrationAccept()">
                <div class="code-inputs">
                    <input formControlName="key" type="text" maxlength="1" placeholder="" />
                    <input formControlName="key" type="text" maxlength="1" placeholder="" />
                    <input formControlName="key" type="text" maxlength="1" placeholder="" />
                    <input formControlName="key" type="text" maxlength="1" placeholder="" />
                    <input formControlName="key" type="text" maxlength="1" placeholder="" />
                    <input formControlName="key" type="text" maxlength="1" placeholder="" />
                </div>
                <button class="submit-btn" type="submit" [disabled]="authForm.invalid">Надіслати</button>
            </form>
        </div>
    </div>
</div>
