
<footer *ngIf="!hideFooter">
    <div class="contact-section">
        <div class="contact-item">
            <i class="fas fa-phone"></i>
            <p>098634123</p>
        </div>
        <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <p>talksu&#64;gmail.com</p>
        </div>
        <div class="contact-item">
            <i class="fas fa-map-marker-alt"></i>
            <p>Ukraine</p>
        </div>
        </div>
        <div class="footer">
        <div class="footer-nav">
            <a href="#">Про нас</a>
            <a href="#">Особливості</a>
            <a href="#">Відгуки</a>
            <a href="#">Контакти</a>
        </div>
        <div class="social-icons">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="privacy-policy">
            Privacy policy
        </div>
    </div>
</footer>

