
<footer *ngIf="!hideFooter">
    <div class="contact-section">
        <div class="contact-item">
            <div class="image">
                <img src="../../../assets/images/phone.svg" alt="phone">
            </div>
            <p>098634123</p>
        </div>
        <div class="contact-item">
            <div class="image">
                <img src="../../../assets/images/mail.svg" alt="mail">
            </div>
            <p>talksu&#64;gmail.com</p>
        </div>
        <div class="contact-item">
            <div class="image">
                <img src="../../../assets/images/location.svg" alt="location">
            </div>
            <p>Ukraine</p>
        </div>
        </div>
        <div class="footer">
        <div class="footer-nav">
            <a href="#">Про нас</a>
            <a href="#">Особливості</a>
            <a href="#">Відгуки</a>
            <a href="#">Контакти</a>
        </div>
        <div class="social-icons">
            <a href="#">
                <div class="social-img">
                    <img src="../../../assets/images/instagram.svg" alt="instagram">
                </div>
            </a>
            <a href="#">
                <div class="social-img">
                    <img src="../../../assets/images/facebook.svg" alt="facebook">
                </div>
            </a>
            <a href="#">
                <div class="social-img">
                    <img src="../../../assets/images/Viber.svg" alt="viber">
                </div>
            </a>
        </div>
        <div class="privacy-policy">
            Privacy policy
        </div>
    </div>
</footer>

