<div class="main-container">
    <div class="wrapper">
        <main class="main">
            <section class="sign-up">
                <div class="sign-up__container">
                    <div class="sign-up__row">
                        <div class="sign-up__image">
                            <img src="assets/images/bg.png" alt="Зображення">
                        </div>
                        <div class="sign-up__content">
                            <div class="sign-up__block-text block-text">
                                <div class="block-text__text">Радий бачити тебе тут! Твоя подорож до вільного
                                    <br>
                                                              володіння
                                    <br>
                                                              англійською починається прямо зараз!
                                </div>
                                <h1 class="block-text__title">Talksy – Your Friend
                                    <br>
                                                              in Learning English
                                </h1>
                                <a [routerLink]="['login-registration','registration']" class="block-text__button button">
                                    Зареєструватись
                                </a>
                            </div>
                        </div>
                        <div class="sign-up__robot">
                            <img src="assets/images/robot.png" alt="Робот">
                        </div>
                        <div class="sign-up__box">
                            <div class="sign-up__pic">
                                <img src="assets/images/notebook.png" alt="Ноутбук">
                            </div>
                            <div class="sign-up__pic">
                                <img src="assets/images/bot.png" alt="Робот">
                            </div>
                        </div>
                    </div>
                    <div id="about-us" class="sign-up__info">
                        <div class="sign-up__title">Про нас</div>
                        <div class="sign-up__text">Talksy створений, щоб зробити навчання ефективним і зручним.
                                                   Викладачі можуть створювати уроки та відстежувати прогрес студентів. Студенти отримують
                                                   персоналізований досвід навчання та контроль своїх досягнень. Система забезпечує
                                                   зручність,
                                                   організованість та прозорість навчального процесу. Долучайтесь до нас, щоб зробити
                                                   навчання
                                                   простішим і ефективнішим!
                        </div>
                    </div>
                </div>
            </section>

            <section class="advant">
                <div class="title">
                    Переваги
                </div>
                <div class="advantages">
                    <div class="advantage">
                        <img alt="Cat icon" src="assets/images/svg/lucide_cat.svg"/>
                        <p>
                            Персоналізоване навчання для кожного студента
                        </p>
                    </div>
                    <div class="advantage">
                        <img alt="Cat icon" src="assets/images/svg/lucide_cat.svg"/>
                        <p>
                            Автоматизація завдань для викладачів
                        </p>
                    </div>
                    <div class="advantage">
                        <img alt="Cat icon" src="assets/images/svg/lucide_cat.svg"/>
                        <p>
                            Мотивація для досягнення результату
                        </p>
                    </div>
                    <div class="advantage">
                        <img alt="Cat icon" src="assets/images/svg/lucide_cat.svg"/>
                        <p>
                            Детальні звіти про прогрес
                        </p>
                    </div>
                </div>
            </section>

            <section class="about" id="about">
                <div class="title">Кому підійде?</div>

                <div class="card">
                    <div class="card-number">01</div>
                    <div class="card-text-container">
                        <div class="card-title">Мовні школи</div>
                        <div class="card-text">
                            Talksy допомагає мовним школам автоматизувати управління навчальним процесом, спрощуючи створення розкладів, відстеження прогресу студентів і ведення документації.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-number">02</div>
                    <div class="card-text-container">
                        <div class="card-title">Фриланс викладачі</div>
                        <div class="card-text">
                            Talksy допомагає фриланс-викладачам організувати свій робочий процес, автоматизуючи створення уроків, планування занять і відстеження прогресу студентів.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-number">03</div>
                    <div class="card-text-container">
                        <div class="card-title">Корпоративне навчання</div>
                        <div class="card-text">
                            Talksy ідеально підходить для корпоративного навчання, дозволяючи компаніям ефективно організувати освітній процес для співробітників. Вона автоматизує відстеження прогресу, створення звітів та управління навчальними групами, що спрощує адміністрування.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-number">04</div>
                    <div class="card-text-container">
                        <div class="card-title">Самостійне вивчення</div>
                        <div class="card-text">
                            Talksy може допомогти організувати процес навчання, створюючи персоналізовані плани уроків та трекінг прогресу. Вона дозволяє стежити за виконанням завдань, аналізувати сильні та слабкі сторони учня, що сприяє більш ефективному навчанню.
                        </div>
                    </div>
                </div>
            </section>

            <section class="banner-main">
                <img alt="image-main-banner" src="assets/images/Group%2041530.jpg"/>
                <a href="" class="block-text__button button2">Дізнатись більше</a>
            </section>

            <section class="func">

                <div class="title">Функціонал</div>
                <div class="content">
                    <div class="column">
                        <h2>Персоналізація:</h2>
                        <p>індивідуальний план навчання на основі рівня та цілей.</p>
                        <h2>Тестування:</h2>
                        <p>оцінка знань, проміжні тести та підготовка до сертифікатів.</p>
                        <h2>Прогрес:</h2>
                        <p>моніторинг досягнень через графіки та звіти.</p>
                    </div>
                    <div class="column right">
                        <h2>Матеріали:</h2>
                        <p>інтерактивні уроки, флеш-карти, відео та аудіо.</p>
                        <h2>Мотивація:</h2>
                        <p>нагороди, виклики та рейтинги.</p>
                        <h2>Комунікація:</h2>
                        <p>чат із викладачами та студентами.</p>
                    </div>
                </div>
            </section>

            <section class="comments" id="comments">
                <div class="title">Відгуки</div>
                <div class="reviews">
                    <div class="review">
                        <div class="review-header">
                            <h3>Віктор Галущків</h3>
                            <img alt="Avatar of Віктор Галущків" height="60" src="assets/images/man.png" width="60"/>
                        </div>
                        <p>
                            Talksy допоміг мені краще організувати своє навчання англійської мови. Я можу легко відстежувати свій прогрес і отримувати персоналізовані завдання, що робить процес більш ефективним і цікавим!
                        </p>
                    </div>
                    <div class="review">
                        <div class="review-header">
                            <h3>Світлана Чопик</h3>
                            <img alt="Avatar of Світлана Чопик" height="60" src="assets/images/woman.png" width="60"/>
                        </div>
                        <p>
                            Мені подобається, як Talksy дозволяє налаштовувати індивідуальні уроки. Я бачу свій розвиток і відчуваю, що можу зосередитися на слабких місцях для досягнення кращих результатів.
                        </p>
                    </div>
                </div>
            </section>

            <section class="registrations" id="contacts">
                <div class="left">
                    <h2>Реєстрація</h2>
                    <p class="pidzagolovok">Почніть вивчати англійську вже сьогодні!</p>
                    <p>Реєструйтеся зараз і отримайте персоналізований план навчання, доступ до інтерактивних уроків та можливість досягти своїх мовних цілей швидше. Ваш успіх починається тут!</p>
                </div>
                <div class="right2">
                    <input type="email" placeholder="E-mail">
                    <input type="password" placeholder="Пароль">
                    <input type="password" placeholder="Підтвердити пароль">
                    <button>Далі</button>
                    <div class="login-link">
                        <span>Вже маєте акаунт?</span>
                        <a [routerLink]="['login-registration','login']">УВІЙТИ</a>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>