<div class="section-header">
    <div>
         <div class="section-header-logo">
             <img src="../../../assets/images/logo.png" alt="logo"/>
             <span>Taskly</span>
         </div>
         <div class="section-header-buttons">
             <div>
                 <img class="small-button-img" src="../../../assets/images/icon_home.svg" alt="home"/>
             </div>
             <div>
                 <img class="big-button-img" src="../../../assets/images/icon_study.svg" alt="study"/>
             </div>
             <div>
                 <img class="small-button-img" src="../../../assets/images/icon_test.svg" alt="test"/>
             </div>
             <div>
                 <img class="big-button-img" src="../../../assets/images/icon_calendar.svg" alt="calendar"/>
             </div>
         </div>
    </div>
    <div class="section-header-setting">
      <img src="../../../assets/images/icon_setting.svg" alt="setting image"/>
    </div>
 </div>
