<div class="section-header">
    <div>
         <div class="section-header-logo">
             <img src="../../../assets/images/logo.png" alt="logo"/>
             <span>Taskly</span>
         </div>
         <div class="section-header-buttons">
             <a [routerLink]="['/cabinet']">
                 <img class="small-button-img" src="../../../assets/images/icon_home.svg" alt="home"/>
             </a>
             <a [routerLink]="['/lessons']">
                 <img class="big-button-img" src="../../../assets/images/icon_study.svg" alt="study"/>
             </a>
             <a [routerLink]="['/homework']">
                 <img class="small-button-img" src="../../../assets/images/icon_test.svg" alt="test"/>
             </a>
             <a [routerLink]="['/cabinet']"> 
                 <img class="big-button-img" src="../../../assets/images/icon_calendar.svg" alt="calendar"/>
             </a>
         </div>
    </div>
    <a [routerLink]="['/setting']" class="section-header-setting">
      <img src="../../../assets/images/icon_setting.svg" alt="setting image"/>
    </a>
 </div>
