<div class="admin">
    <app-header-log class="admin-header"></app-header-log>
    <app-label-log class="admin-label"></app-label-log>

    <div class="search-bar">
        <img src="../../../assets/images/lessons/lupa.svg" alt="search"/>
        <input type="text" placeholder="Пошук..."/>
    </div>

    <div class="admin-container">

        <section class="lesson-block">

            <h3 class="lesson-header">Навчання</h3>

            <div class="lesson-elements">

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="buttons">

                        <button class="lesson-btn delete-lesson-btn">
                            <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                        </button>

                        <button class="lesson-btn edit-lesson-btn">
                            <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                        </button>

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>

                <div class="lesson-element">

                    <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                    <p class="lesson-theme">Lesson 1: Greetings and Introductions</p>

                    <div class="controls">
                        
                        <div class="buttons">
                            <button class="lesson-btn delete-lesson-btn">
                                <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                            </button>
    
                            <button class="lesson-btn edit-lesson-btn">
                                <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                            </button>
                        </div>
                        

                        <span class="lesson-date">12.01.2025</span>
                    </div>
                    
                </div>
                
            </div>
        </section>

        <div class="upload-block">
            <div class="add-lesson add-block">
                <img src="../../../assets/images/cat_daily.png" alt="">
                <button class="add-lesson-btn upload-btn">Створити новий урок</button>
            </div>

            <div class="add-homework add-block">
                <img src="../../../assets/images/upload-hw.png" alt="">
                <button class="add-lesson-btn upload-btn">Завантажити домашнє завдання</button>
            </div>
        </div>

    </div>

</div>
