<section class="header-lesson">
    <div class="lesson-title">
        <h1>Lesson {{ lessonId }}</h1>
        <h2>Greetings and Introductions</h2>
    </div>
    <img alt="image-main-banner" src="assets/images/less-header.png"/>
</section>

<section class="informal">
    <div class="informal-container">
    <h2>Informal Introductions</h2>
    <div class="content">
        <div class="text-content">
            <p class="text-after-content">Неофіційне представлення використовується серед друзів, сім'ї або в невимушеній обстановці. Вони є більш невимушеними і не містять титулів та формальностей.</p>
            <div class="section">
                <div class="column">
                    <h3>Greetings</h3>
                    <p>Hello / Hi</p>
                    <p>Good morning / Good evening</p>
                    <p>How are you? / How's it going?</p>
                </div>
                <div class="column">
                    <h3>Saying goodbye</h3>
                    <p>See you later!</p>
                    <p>Bye, have a nice day!</p>
                    <p>Goodbye!</p>
                </div>
            </div>
            <div class="section">
                <div class="column">
                    <h3>Responses</h3>
                    <p>I'm fine, thank you.</p>
                    <p>I'm doing well.</p>
                    <p>Not bad, thanks.</p>
                </div>
                <div class="column">
                    <h3>Introducing</h3>
                    <p>My name is... / I'm...</p>
                    <p>Nice to meet you.</p>
                    <p>It's a pleasure to meet you</p>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img alt="diagram" src="assets/images/grafik.png"/>
        </div>
    </div>
    </div>
    <div class="floating-image">
        <img src="assets/images/svg/small-icon.svg" alt="floating icon">
    </div>
</section>

<section class="formal">
    <div class="informal-container">
        <h2>Formal Introductions</h2>
        <p class="text-after-content">Офіційне представлення використовується в професійних, офіційних або незнайомих ситуаціях. Вони часто містять титули, прізвища та шанобливу мову.</p>
        <div class="content">
            <div class="text-content">
                <div class="section">
                    <div class="column">
                        <h3>Greetings</h3>
                        <p>Hello / Hi</p>
                        <p>Good morning / Good evening</p>
                        <p>How are you? / How's it going?</p>
                    </div>
                    <div class="column">
                        <h3>Saying goodbye</h3>
                        <p>See you later!</p>
                        <p>Bye, have a nice day!</p>
                        <p>Goodbye!</p>
                    </div>
                </div>
                <div class="section">
                    <div class="column">
                        <h3>Responses</h3>
                        <p>I'm fine, thank you.</p>
                        <p>I'm doing well.</p>
                        <p>Not bad, thanks.</p>
                    </div>
                    <div class="column">
                        <h3>Introducing</h3>
                        <p>My name is... / I'm...</p>
                        <p>Nice to meet you.</p>
                        <p>It's a pleasure to meet you</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="floating-image">
        <img src="assets/images/svg/small-icon.svg" alt="floating icon">
    </div>
</section>


<section class="small-talk">
    <div class="informal-container">
        <h2>Formal Introductions</h2>
        <p class="text-after-content">Офіційне представлення використовується в професійних, офіційних або незнайомих ситуаціях. Вони часто містять титули, прізвища та шанобливу мову.</p>
        <div class="content">
            <div class="text-content">
                <div class="section">
                    <div class="column">
                        <h3>Greetings</h3>
                        <p>Hello / Hi</p>
                        <p>Good morning / Good evening</p>
                        <p>How are you? / How's it going?</p>
                    </div>
                    <div class="column">
                        <h3>Saying goodbye</h3>
                        <p>See you later!</p>
                        <p>Bye, have a nice day!</p>
                        <p>Goodbye!</p>
                    </div>
                </div>
                <div class="section">
                    <div class="column">
                        <h3>Responses</h3>
                        <p>I'm fine, thank you.</p>
                        <p>I'm doing well.</p>
                        <p>Not bad, thanks.</p>
                    </div>
                    <div class="column">
                        <h3>Introducing</h3>
                        <p>My name is... / I'm...</p>
                        <p>Nice to meet you.</p>
                        <p>It's a pleasure to meet you</p>
                    </div>
                </div>
                <div class="section">
                    <div class="column">
                        <h3>Responses</h3>
                        <p>I'm fine, thank you.</p>
                        <p>I'm doing well.</p>
                        <p>Not bad, thanks.</p>
                    </div>
                    <div class="column">
                        <h3>Introducing</h3>
                        <p>My name is... / I'm...</p>
                        <p>Nice to meet you.</p>
                        <p>It's a pleasure to meet you</p>
                    </div>
                </div>
                <div class="section">
                    <div class="column">
                        <h3>Responses</h3>
                        <p>I'm fine, thank you.</p>
                        <p>I'm doing well.</p>
                        <p>Not bad, thanks.</p>
                    </div>
                    <div class="column">
                        <h3>Introducing</h3>
                        <p>My name is... / I'm...</p>
                        <p>Nice to meet you.</p>
                        <p>It's a pleasure to meet you</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="floating-image">
        <img src="assets/images/svg/small-icon.svg" alt="floating icon">
    </div>
</section>


<section class="footer-lesson">
    <div class="informal-container foot">
        <div class="text-group">
            <div class="text-row">
                <h4>Література</h4>
                <p class="text-after-content afk">https://www.oxfordonlineenglish.com/free-business-english-lessons</p>
            </div>
            <div class="text-row">
                <h4>Аудіо</h4>
                <p class="text-after-content afk">https://www.oxfordonlineenglish.com/free-business-english-lessons</p>
            </div>
            <div class="text-row">
                <h4>Відео</h4>
                <p class="text-after-content afk">https://www.oxfordonlineenglish.com/free-business-english-lessons</p>
            </div>
            <div class="text-row">
                <h4>Пройти тест</h4>
                <p class="text-after-content afk">https://www.oxfordonlineenglish.com/free-business-english-lessons</p>
            </div>
        </div>
        <div class="image-container-footer">
            <img alt="catlaptp" src="assets/images/catlaptop.png"/>
        </div>
    </div>
    <div class="floating-image">
        <img src="assets/images/svg/small-icon.svg" alt="floating icon">
    </div>
</section>