<section class="calendar">
    <app-header-log class="calendar-header"></app-header-log>
    <app-label-log class="calendar-stats"></app-label-log>

    <div class="calendar-container">
        <div class="section-schedule-month"> 
            <span>&#60;</span>
            <span>Січень</span>
            <span>&#62;</span>
        </div>
        <div class="section-schedule-icons">
            <div>
                <img src="../../../assets/images/input_selected.svg" alt="input"/>
                <span>Заннятя</span>
            </div>
            <div>
                <img src="../../../assets/images/input_test.svg" alt="input"/>
                <span>Тестування</span>
            </div>
        </div>
        <table class="calendar-container-block">
            <thead>
                <tr>
                    <th><span>Понеділок</span><span>Пн</span></th>
                    <th><span>Вівторок</span><span>Вт</span></th>
                    <th><span>Середа</span><span>Ср</span></th>
                    <th><span>Четвер</span><span>Чт</span></th>
                    <th><span>П'ятниця</span><span>Пт</span></th>
                    <th><span>Субота</span><span>Сб</span></th>
                    <th><span>Неділя</span><span>Нд</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td ></td>
                    <td>
                        <b>1</b>
                    </td >
                    <td class="calendar-element">
                        <b>2</b>
                        <div class="calendar-element-time1">18:00-21:00</div>
                    </td>
                    <td class="calendar-element">
                        <b>3</b>
                        
                    </td>
                    <td class="calendar-element">
                        <b>4</b>
                        <div class="calendar-element-time1">18:00-21:00</div>
                    </td>
                    <td class="calendar-element">
                        <b>5</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>6</b>
                    </td >
                    <td>
                        <b>7</b>
                        <div class="calendar-element-time1">18:00-21:00</div>
                    </td >
                    <td>
                        <b>8</b>
                    </td >
                    <td class="calendar-element">
                        <b>9</b>
                        <div class="calendar-element-time1">18:00-21:00</div>
                    </td>
                    <td class="calendar-element">
                        <b>10</b>
                    </td>
                    <td class="calendar-element">
                        <b>11</b>
                        <div class="calendar-element-time1">18:00-21:00</div>
                    </td>
                    <td class="calendar-element">
                        <b>12</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>13</b>
                    </td >
                    <td>
                        <b>14</b>
                        <div class="calendar-element-time1">18:00-21:00</div>
                    </td >
                    <td>
                        <b>15</b>
                    </td >
                    <td class="calendar-element">
                        <b>16</b>
                        <div class="calendar-element-time1">18:00-21:00</div>
                    </td>
                    <td class="calendar-element">
                        <b>17</b>
                    </td>
                    <td class="calendar-element">
                        <b>18</b>
                        <div class="calendar-element-time1">18:00-21:00</div>
                    </td>
                    <td class="calendar-element">
                        <b>19</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>20</b>
                    </td >
                    <td>
                        <b>21</b>
                        <div class="calendar-element-time1">18:00-21:00</div>
                    </td >
                    <td>
                        <b>22</b>
                    </td >
                    <td class="calendar-element">
                        <b>23</b>
                        <div class="calendar-element-time1">18:00-21:00</div>
                    </td>
                    <td class="calendar-element">
                        <b>24</b>
                    </td>
                    <td class="calendar-element">
                        <b>25</b>
                        <div class="calendar-element-time2">18:00-21:00</div>
                    </td>
                    <td class="calendar-element">
                        <b>26</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>27</b>
                    </td >
                    <td>
                        <b>28</b>
                        <div class="calendar-element-time2">18:00-21:00</div>
                    </td >
                    <td>
                        <b>29</b>
                    </td >
                    <td>
                        <b>30</b>
                        <div class="calendar-element-time1">18:00-21:00</div>
                    </td>
                    <td >
                        <b>31</b>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
