<section class="calendar">
    <app-header-log class="calendar-header"></app-header-log>
    <app-label-log class="calendar-stats" [user]="user"></app-label-log>

    <div class="search-bar">
        <img src="../../../assets/images/lessons/lupa.svg" alt="search"/>
        <input type="text" placeholder="Пошук..."/>
    </div>

    <div class="calendar-container">
        <div class="section-schedule-month"> 
            <span>&#60;</span>
            <span>Січень</span>
            <span>&#62;</span>
        </div>
        <div class="section-schedule-icons">
            <div>
                <img src="../../../assets/images/input_selected.svg" alt="input"/>
                <span>Заннятя</span>
            </div>
            <div>
                <img src="../../../assets/images/input_test.svg" alt="input"/>
                <span>Тестування</span>
            </div>
        </div>
        <table class="calendar-container-block">
            <thead>
                <tr>
                    <th><span>Понеділок</span><span>Пн</span></th>
                    <th><span>Вівторок</span><span>Вт</span></th>
                    <th><span>Середа</span><span>Ср</span></th>
                    <th><span>Четвер</span><span>Чт</span></th>
                    <th><span>П'ятниця</span><span>Пт</span></th>
                    <th><span>Субота</span><span>Сб</span></th>
                    <th><span>Неділя</span><span>Нд</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let week of calendarMatrix; let weekIndex = index">
                    <td *ngFor="let day of week; let dayIndex = index">
                      <b *ngIf="day !== 0">{{ day }}</b>
                    
                      <div *ngIf="day !== 0 && isMatchingDate(day)" class="calendar-element-time2">
                        18:00-21:00
                      </div>

                      
                      <div *ngIf="day !== 0 && getScheduleForDay(dayIndex) && !isMatchingDate(day)" class="calendar-element-time1">
                        {{ getScheduleForDay(dayIndex) }}
                      </div>
                    </td>
                  </tr>
            </tbody>
        </table>
    </div>
</section>
