<section class="test-container">
    <app-header-log class="test-header"></app-header-log>
    <app-label-log class="test-stats" [user]="user"></app-label-log>
    
    <div class="test-container-form">
        
        <div>
            <div>
                <h3>Test №</h3>
                <strong class="purple-label">{{user?.group?.testName}}</strong>
            </div>
            <div>
                <strong>{{ count + 1 }}</strong><strong class="purple-label">/{{maxCount}}</strong>
            </div>
        </div>

        <div class="test-container-form-form">

           
            <div> 
                <strong>{{ thatsAll ? 'Ваш результат' : tests[count!].question }}</strong>

                <span *ngIf="thatsAll" class="result">{{result}}/{{maxCount}}</span>
                
                <div *ngIf="!thatsAll" class="test-input">
                    <div (click)="selectInput(tests[count!].variable1,0)">
                        <img src="{{btns[0]}}" alt="input"/>
                        <span>{{ tests[count!].variable1 }}</span>
                    </div>
                    <div (click)="selectInput(tests[count!].variable2 ,1)">
                        <img src="{{btns[1]}}" alt="input"/>
                        <span>{{ tests[count!].variable2 }}</span>
                    </div>
                    <div (click)="selectInput(tests[count!].variable3,2)">
                        <img src="{{btns[2]}}" alt="input"/>
                        <span>{{ tests[count!].variable3 }}</span>
                    </div>
                    <div (click)="selectInput(tests[count!].variable4,3)">
                        <img src="{{btns[3]}}" alt="input"/>
                        <span>{{ tests[count!].variable4 }}</span>
                    </div>
                </div>

                
                <div *ngIf="!thatsAll" class="test-btn" (click)="nextStep()">
                    Далі
                </div>

                <a *ngIf="thatsAll" class="test-btn" [routerLink]="['/cabinet']">
                    Повернутись у кабінет
                </a>

            </div>
            <img src="{{cat}}" alt="cat-question"/>
        </div>


        <img class="test-img-back" src="../../../assets/images/test/question.svg" alt="question"/>
        <img class="test-img-back" src="../../../assets/images/test/question.svg" alt="question"/>
        <img class="test-img-back" src="../../../assets/images/test/question.svg" alt="question"/>
        <img class="test-img-back" src="../../../assets/images/test/question.svg" alt="question"/>
        <img class="test-img-back" src="../../../assets/images/test/question.svg" alt="question"/>
        <img class="test-img-back" src="../../../assets/images/test/question.svg" alt="question"/>
    </div>
</section>
