<section class="test-container">
    <app-header-log class="test-header"></app-header-log>
    <app-label-log class="test-stats"></app-label-log>
    
    <div class="test-container-form">
        
        <div>
            <div>
                <h3>Test №</h3>
                <strong class="purple-label">Заголовок</strong>
            </div>
            <div>
                <strong>01</strong><strong class="purple-label">/10</strong>
            </div>
        </div>

        <div class="test-container-form-form">

            <div>
                <strong>How do you greet someone in the morning?</strong>

                <div class="test-input">
                    <div>
                        <img src="../../../assets/images/test/input_disabled_cat.svg" alt="input"/>
                        <span>Good night</span>
                    </div>
                    <div>
                        <img src="../../../assets/images/test/input_disabled_cat.svg" alt="input"/>
                        <span>Good night</span>
                    </div>
                    <div>
                        <img src="../../../assets/images/test/input_disabled_cat.svg" alt="input"/>
                        <span>Good night</span>
                    </div>
                    <div>
                        <img src="../../../assets/images/test/input_disabled_cat.svg" alt="input"/>
                        <span>Good night</span>
                    </div>
                </div>

                <div class="test-btn">
                    Далі
                </div>

            </div>
            <img src="../../../assets/images/test/cat-question.png" alt="cat-question"/>

            
        </div>

        <img class="test-img-back" src="../../../assets/images/test/question.svg" alt="question"/>
        <img class="test-img-back" src="../../../assets/images/test/question.svg" alt="question"/>
        <img class="test-img-back" src="../../../assets/images/test/question.svg" alt="question"/>
        <img class="test-img-back" src="../../../assets/images/test/question.svg" alt="question"/>
        <img class="test-img-back" src="../../../assets/images/test/question.svg" alt="question"/>
        <img class="test-img-back" src="../../../assets/images/test/question.svg" alt="question"/>
    </div>
</section>
