<div class="homework-list">
    <app-header-log class="header"></app-header-log>
    <app-label-log class="label"></app-label-log>

    <div class="search-bar">
        <img src="../../../assets/images/lessons/lupa.svg" alt="search"/>
        <input type="text" placeholder="Пошук..."/>
    </div>

    <div class="homework-container">
        <div class="homework">
            <div class="info">
                <div class="avatar">
                    <span class="letter">A</span>
                </div>
                <h3 class="initials">Аліна Гончар</h3>
            </div>
            <div class="info-container">
                <div class="info">
                    <span class="text">Тема:</span>
                    <span class="data">Greetings and Introductions</span>
                </div>
                <div class="info">
                    <span class="text">Видано:</span>
                    <span class="data">12.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконано:</span>
                    <span class="data">19.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконане завдання:</span>
                    <img src="../../../assets/images/upload.svg" alt="upload">
                </div>
                <div class="mark">
                    <span>12</span>
                </div>
            </div>
            <div class="info">
                <button class="btn">Підтвердити</button>
                <button class="btn delete-btn">Видалити</button>
            </div>
        </div>

        <div class="homework">
            <div class="info">
                <div class="avatar">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="avatar">
                </div>
                <h3 class="initials">Олександр Вітяк</h3>
            </div>
            <div class="info-container">
                <div class="info">
                    <span class="text">Тема:</span>
                    <span class="data">Greetings and Introductions</span>
                </div>
                <div class="info">
                    <span class="text">Видано:</span>
                    <span class="data">12.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконано:</span>
                    <span class="data">19.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконане завдання:</span>
                    <img src="../../../assets/images/upload.svg" alt="upload">
                </div>
                <div class="mark">
                    <span>12</span>
                </div>
            </div>
            <div class="info">
                <button class="btn">Підтвердити</button>
                <button class="btn delete-btn">Видалити</button>
            </div>
        </div>

        <div class="homework">
            <div class="info">
                <div class="avatar">
                    <span class="letter">A</span>
                </div>
                <h3 class="initials">Аліна Гончар</h3>
            </div>
            <div class="info-container">
                <div class="info">
                    <span class="text">Тема:</span>
                    <span class="data">Greetings and Introductions</span>
                </div>
                <div class="info">
                    <span class="text">Видано:</span>
                    <span class="data">12.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконано:</span>
                    <span class="data">19.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконане завдання:</span>
                    <img src="../../../assets/images/upload.svg" alt="upload">
                </div>
                <div class="mark">
                    <span>12</span>
                </div>
            </div>
            <div class="info">
                <button class="btn">Підтвердити</button>
                <button class="btn delete-btn">Видалити</button>
            </div>
        </div>

        <div class="homework">
            <div class="info">
                <div class="avatar">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="avatar">
                </div>
                <h3 class="initials">Олександр Вітяк</h3>
            </div>
            <div class="info-container">
                <div class="info">
                    <span class="text">Тема:</span>
                    <span class="data">Greetings and Introductions</span>
                </div>
                <div class="info">
                    <span class="text">Видано:</span>
                    <span class="data">12.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконано:</span>
                    <span class="data">19.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконане завдання:</span>
                    <img src="../../../assets/images/upload.svg" alt="upload">
                </div>
                <div class="mark">
                    <span>12</span>
                </div>
            </div>
            <div class="info">
                <button class="btn">Підтвердити</button>
                <button class="btn delete-btn">Видалити</button>
            </div>
        </div>

        <div class="homework">
            <div class="info">
                <div class="avatar">
                    <span class="letter">A</span>
                </div>
                <h3 class="initials">Аліна Гончар</h3>
            </div>
            <div class="info-container">
                <div class="info">
                    <span class="text">Тема:</span>
                    <span class="data">Greetings and Introductions</span>
                </div>
                <div class="info">
                    <span class="text">Видано:</span>
                    <span class="data">12.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконано:</span>
                    <span class="data">19.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконане завдання:</span>
                    <img src="../../../assets/images/upload.svg" alt="upload">
                </div>
                <div class="mark">
                    <span>12</span>
                </div>
            </div>
            <div class="info">
                <button class="btn">Підтвердити</button>
                <button class="btn delete-btn">Видалити</button>
            </div>
        </div>

        <div class="homework">
            <div class="info">
                <div class="avatar">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="avatar">
                </div>
                <h3 class="initials">Олександр Вітяк</h3>
            </div>
            <div class="info-container">
                <div class="info">
                    <span class="text">Тема:</span>
                    <span class="data">Greetings and Introductions</span>
                </div>
                <div class="info">
                    <span class="text">Видано:</span>
                    <span class="data">12.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконано:</span>
                    <span class="data">19.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконане завдання:</span>
                    <img src="../../../assets/images/upload.svg" alt="upload">
                </div>
                <div class="mark">
                    <span>12</span>
                </div>
            </div>
            <div class="info">
                <button class="btn">Підтвердити</button>
                <button class="btn delete-btn">Видалити</button>
            </div>
        </div>

        <div class="homework">
            <div class="info">
                <div class="avatar">
                    <span class="letter">A</span>
                </div>
                <h3 class="initials">Аліна Гончар</h3>
            </div>
            <div class="info-container">
                <div class="info">
                    <span class="text">Тема:</span>
                    <span class="data">Greetings and Introductions</span>
                </div>
                <div class="info">
                    <span class="text">Видано:</span>
                    <span class="data">12.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконано:</span>
                    <span class="data">19.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконане завдання:</span>
                    <img src="../../../assets/images/upload.svg" alt="upload">
                </div>
                <div class="mark">
                    <span>12</span>
                </div>
            </div>
            <div class="info">
                <button class="btn">Підтвердити</button>
                <button class="btn delete-btn">Видалити</button>
            </div>
        </div>

        <div class="homework">
            <div class="info">
                <div class="avatar">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="avatar">
                </div>
                <h3 class="initials">Олександр Вітяк</h3>
            </div>
            <div class="info-container">
                <div class="info">
                    <span class="text">Тема:</span>
                    <span class="data">Greetings and Introductions</span>
                </div>
                <div class="info">
                    <span class="text">Видано:</span>
                    <span class="data">12.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконано:</span>
                    <span class="data">19.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконане завдання:</span>
                    <img src="../../../assets/images/upload.svg" alt="upload">
                </div>
                <div class="mark">
                    <span>12</span>
                </div>
            </div>
            <div class="info">
                <button class="btn">Підтвердити</button>
                <button class="btn delete-btn">Видалити</button>
            </div>
        </div>

        <div class="homework">
            <div class="info">
                <div class="avatar">
                    <span class="letter">A</span>
                </div>
                <h3 class="initials">Аліна Гончар</h3>
            </div>
            <div class="info-container">
                <div class="info">
                    <span class="text">Тема:</span>
                    <span class="data">Greetings and Introductions</span>
                </div>
                <div class="info">
                    <span class="text">Видано:</span>
                    <span class="data">12.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконано:</span>
                    <span class="data">19.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконане завдання:</span>
                    <img src="../../../assets/images/upload.svg" alt="upload">
                </div>
                <div class="mark">
                    <span>12</span>
                </div>
            </div>
            <div class="info">
                <button class="btn">Підтвердити</button>
                <button class="btn delete-btn">Видалити</button>
            </div>
        </div>

        <div class="homework">
            <div class="info">
                <div class="avatar">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="avatar">
                </div>
                <h3 class="initials">Олександр Вітяк</h3>
            </div>
            <div class="info-container">
                <div class="info">
                    <span class="text">Тема:</span>
                    <span class="data">Greetings and Introductions</span>
                </div>
                <div class="info">
                    <span class="text">Видано:</span>
                    <span class="data">12.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконано:</span>
                    <span class="data">19.01</span>
                </div>
                <div class="info">
                    <span class="text">Виконане завдання:</span>
                    <img src="../../../assets/images/upload.svg" alt="upload">
                </div>
                <div class="mark">
                    <span>12</span>
                </div>
            </div>
            <div class="info">
                <button class="btn">Підтвердити</button>
                <button class="btn delete-btn">Видалити</button>
            </div>
        </div>
    </div>
</div>
