<div class="container">
    <app-header-log class="header"></app-header-log>

    <div class="section-stats background-section-rounded ">
        <div>
           <span>C</span> 
        </div>
        <span>Welcome back, Світлана!</span>
        <div>
            <img src="../../../assets/images/icon_coin_1.png" alt="coin"/>
            <span>25</span>
        </div>
        <div>
            <img src="../../../assets/images/icon_coin_2.png" alt="coin"/>
            <span>25</span>
        </div>
        <div>
            <img src="../../../assets/images/icon_coin_3.png" alt="coin"/>
            <span>25</span>
        </div>
        <img class="disabled" src="../../../assets/images/setting_purple.svg" alt="setting"/>
        <img class="disabled" src="../../../assets/images/alarm.svg" alt="alarm"/>
    </div>

    <div class="section-level">
        <div>
            <span>B2 Upper Intermediate</span>
            <span>70%</span>
        </div>
        <div>
            <div></div>
        </div>
    </div>

    <div class="section-daily background-section-cube">
        <div class="section-daily-test">
            <span class="section-daily-test-question">Обери синонім до слова <span class="section-daily-test-question-word">"tired"</span></span>
            <div>
                <img  src="../../../assets/images/cat_input.svg" alt="input"/>
                <span>energetic</span>
            </div>
            <div>
                <img  src="../../../assets/images/cat_input.svg" alt="input"/>
                <span>exhausted</span>
            </div>
            <div>
                <img  src="../../../assets/images/cat_input.svg" alt="input"/>
                <span>ecstatic</span>
            </div>
        </div>
        <div class="section-daily-cat">
            <img  src="../../../assets/images/cat_daily.png" alt="cat"/>
        </div>
    </div>

    <div class="section-notification-test background-section-cube">
        <img src="../../../assets/images/cat_kubok.png" alt="cat"/>
        <div>
            <strong>10 успішних тестів</strong>
            <div>
                <strong>+5</strong>
                <img src="../../../assets/images/icon_coin_3.png" alt="diamond"/>
            </div>
        </div>
    </div>

    <div class="section-homework background-section-cube ">
        <span>Домашні завдання</span>
        <div>
            <span>Modal Verbs</span>
            <span>30.01</span>
        </div>
        <div>
            <span>Past Perfect</span>
            <span>&#10003;</span>
        </div>
        <div>
            <span>Full Infinitive/Bare Infinitive</span>
            <span>&#10003;</span>
        </div>
        <div>
            <span>Formal Letter</span>
            <span>22.01</span>
        </div>
    </div>

    <div class="section-schedule background-section-cube">
        <div class="section-schedule-month">
            <span>Розклад</span>
            <div>
                <span>&#60;</span>
                <span>Січень</span>
                <span>&#62;</span>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ПН</th>
                    <th>ВТ</th>
                    <th>СР</th>
                    <th>ЧТ</th>
                    <th>ПТ</th>
                    <th>СБ</th>
                    <th>НД</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td class="section-schedule-day-study">
                        <span>16</span>
                    </td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td class="section-schedule-day-study">
                        <span>20</span>
                    </td>
                    <td>21</td>
                </tr>
                <tr>
                    <td class="section-schedule-day-test">
                        <span>22</span>
                    </td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td class="section-schedule-day-study">
                        <span>28</span>
                    </td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                </tr> 
            </tbody>
        </table>
        <div class="section-schedule-icons">
            <div>
                <img src="../../../assets/images/input_selected.svg" alt="input"/>
                <span>Заннятя</span>
            </div>
            <div>
                <img src="../../../assets/images/input_test.svg" alt="input"/>
                <span>Тестування</span>
            </div>
        </div>
    </div>

    <div class="section-notification background-section-cube">
        <div>
            <span>Нагадування</span>
            <div>
                <img src="../../../assets/images/lampa.png" alt="lampa"/>
                <img src="../../../assets/images/head_cat.png" alt="cat"/>
            </div>
        </div>
        <ul>
            <li>
                <span>Загрузити домашнє завдання на тему<span class="section-notification-accent"> Modal Verbs</span></span>
            </li>
            <li>
                <span>Переглянути відео урок на тему<span class="section-notification-accent"> Giving Advice</span></span>
            </li>
            <li>
                <span>Пройти тестування по темі<span class="section-notification-accent"> Past Perfect</span></span>
            </li>
            <li>
                <span>Переглянути відео урок на тему<span class="section-notification-accent"> Direct Speech</span></span>
            </li>
            <li>
                <span>Пройти тестування по темі<span class="section-notification-accent"> Articles</span></span>
            </li>
        </ul>
    </div>

    <div class="section-study background-section-cube">
        <span>Навчання</span>
        <div>
            <img  src="../../../assets/images/study.png" alt="study"/>
            <div class="section-study-buttons">
                <div>Тести</div>
                <div>Відео урок</div>
                <div>Статті</div>
            </div>
        </div>
    </div>

    <div class="section-stars">
        <div>
            <img src="../../../assets/images/icon_coin_1.png" alt="coin"/>
            <span>25</span>
        </div>
        <div>
            <img src="../../../assets/images/icon_coin_2.png" alt="coin"/>
            <span>25</span>
        </div>
        <div>
            <img src="../../../assets/images/icon_coin_3.png" alt="coin"/>
            <span>25</span>
        </div>
    </div>
    

    

    

   
</div>