<div class="lessons">
    <app-header-log class="lessons-header"></app-header-log>
    <app-label-log class="lessons-label"></app-label-log>

    <div class="lessons-container">
        <div class="search-bar">
            <img src="../../../assets/images/lessons/lupa.svg" alt="search"/>
            <input type="text" placeholder="Пошук..."/>
        </div>

        <div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <span>Lesson 1: Greetings and Introductions</span>
                <span>12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <span>Lesson 1: Greetings and Introductions</span>
                <span>12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <span>Lesson 1: Greetings and Introductions</span>
                <span>12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <span>Lesson 1: Greetings and Introductions</span>
                <span>12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <span>Lesson 1: Greetings and Introductions</span>
                <span>12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <span>Lesson 1: Greetings and Introductions</span>
                <span>12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <span>Lesson 1: Greetings and Introductions</span>
                <span>12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <span>Lesson 1: Greetings and Introductions</span>
                <span>12.01.2025</span>
            </div>
            <div class="lesson-element">
                <img src="../../../assets/images/lessons/lesson.png" alt="lesson"/>
                <span>Lesson 1: Greetings and Introductions</span>
                <span>12.01.2025</span>
            </div>
            
        </div>
    </div>
</div>

