<section class="homework">
    <app-header-log class="homework-header"></app-header-log>
    <app-label-log class="homework-stats"></app-label-log>

    <div class="homework-container">
        <div>
            <b class="purple-label">До виконання</b>
            <b>Виконанні</b>
        </div>
        <div>
            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <img src="../../../assets/images/homework/download.svg" alt="download"/>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <img src="../../../assets/images/homework/download.svg" alt="download"/>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <img src="../../../assets/images/homework/download.svg" alt="download"/>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <img src="../../../assets/images/homework/download.svg" alt="download"/>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <img src="../../../assets/images/homework/download.svg" alt="download"/>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <img src="../../../assets/images/homework/download.svg" alt="download"/>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <img src="../../../assets/images/homework/download.svg" alt="download"/>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <img src="../../../assets/images/homework/download.svg" alt="download"/>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <img src="../../../assets/images/homework/download.svg" alt="download"/>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <img src="../../../assets/images/homework/download.svg" alt="download"/>
                </div>
            </div>
        </div>
    </div>
</section>
