<section class="homework">
    <app-header-log class="homework-header"></app-header-log>
    <app-label-log class="homework-stats"></app-label-log>

    <div class="level">
        <div class="text">
            <span class="level-text">B2 Upper Intermediate</span>
            <span class="percent">70%</span>
        </div>
        <div class="progress_bar"></div>
    </div>

    <div class="homework-container">
        <div>
            <b class="purple-label">До виконання</b>
            <b>Виконанні</b>
        </div>
        <div class="homework-content">
            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div class="label-element"><span class="purple-label">Видано</span> 12.01.2025</div>
                        <div  class="label-element"><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <div class="img-container">
                        <img src="../../../assets/images/homework/download.svg" alt="download"/>
                    </div>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div class="label-element"><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div  class="label-element"><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <div class="img-container">
                        <img src="../../../assets/images/homework/download.svg" alt="download"/>
                    </div>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div class="label-element"><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div  class="label-element"><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <div class="img-container">
                        <img src="../../../assets/images/homework/download.svg" alt="download"/>
                    </div>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div class="label-element"><span class="purple-label">Видано</span> 12.01.2025</div>
                        <div  class="label-element"><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <div class="img-container">
                        <img src="../../../assets/images/homework/download.svg" alt="download"/>
                    </div>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div class="label-element"><span class="purple-label">Видано</span> 12.01.2025</div>
                        <div  class="label-element"><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <div class="img-container">
                        <img src="../../../assets/images/homework/download.svg" alt="download"/>
                    </div>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div class="label-element"><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div  class="label-element"><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <div class="img-container">
                        <img src="../../../assets/images/homework/download.svg" alt="download"/>
                    </div>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div class="label-element"><span class="purple-label">Видано</span> 12.01.2025</div>
                        <div  class="label-element"><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <div class="img-container">
                        <img src="../../../assets/images/homework/download.svg" alt="download"/>
                    </div>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div class="label-element"><span class="purple-label">Видано</span> 12.01.2025</div>
                         <div  class="label-element"><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <div class="img-container">
                        <img src="../../../assets/images/homework/download.svg" alt="download"/>
                    </div>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div class="label-element"><span class="purple-label">Видано</span> 12.01.2025</div>
                        <div  class="label-element"><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>

                    <div class="img-container">
                        <img src="../../../assets/images/homework/download.svg" alt="download"/>
                    </div>
                </div>
            </div>

            <div class="homework-element">
                <img src="../../../assets/images/homework/homework.png" alt="homework"/>
                <b>Lesson 1: Greetings and Introductions</b>
                <div>
                    <div>
                        <div class="label-element"><span class="purple-label">Видано</span> 12.01.2025</div>
                        <div  class="label-element"><span class="purple-label">Дедлайн</span> 22.01.2025</div>
                    </div>
                    <div class="img-container">
                        <img src="../../../assets/images/homework/download.svg" alt="download"/>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
