.section-stats{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: bold; 
    margin: 20px 0;
    padding: 10px;
    border-radius: 100px;
    background-color: white;
    overflow: hidden;
    max-width: 100%;
    position: relative;
}

.avatar-text, .badges, .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.avatar-text, .icons {
    gap: 10px;
}

.badges {
    gap: 20px;
}

.icons {
    margin-left: auto;
}


.avatar-text >div:first-child{
    background-color: #B09CFF;
    border-radius: 50%;
    font-size: 2em;
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.welcome {
    vertical-align: middle;
}

.avatar, .badge {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar > span {
    display: inline-block;
}

.badge > span {
    padding-left: 10px;
    display: inline-block;
}

.icon img{
    width: 18px;
    height: 18px;
}

.alarm {
    position: relative;
    margin-right: 10px;
    display: inline-block;
}

.alarm::after {
    content: "";
    position: absolute;
    right: 13px;
    width: 5px;
    height:5px;
    background-color: #4A1EBB;
    border-radius: 50%;
}

.setting {
    display: none;
}

/* For hide element use this class */

.hidden {
    display: none;
}

/* =============================== */

@media (max-width: 1200px) {
    .setting {
        display: block;
    }

    .section-stats {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .section-stats {
        gap: 10px;
    }
    .badges {
        gap: 10px;
    }
    .alarm {
        margin-right: 0;
    }
    .alarm::after {
        right: 3px;
    }
    .welcome {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .badge {
        display: none;
    }

    .welcome {
        margin-right: 10px;
    }
}