<section class="section-stats">
    <div>
        <span>C</span> 
    </div>
    <span>Welcome back, Світлана!</span>
    <div>
        <img src="../../../../assets/images/icon_coin_1.png" alt="coin"/>
        <span>25</span>
    </div>
    <div>
        <img src="../../../../assets/images/icon_coin_2.png" alt="coin"/>
        <span>25</span>
    </div>
    <div>
        <img src="../../../../assets/images/icon_coin_3.png" alt="coin"/>
        <span>25</span>
    </div>
    <img class="disabled" src="../../../../assets/images/setting_purple.svg" alt="setting"/>
    <img class="disabled" src="../../../../assets/images/alarm.svg" alt="alarm"/>
</section>
