<section class="section-stats">

    <div class="avatar-text">
        <div class="avatar">
            <span>{{firstLetter}}</span> 
        </div>
        <div class="text">
            <p class="welcome">Welcome back, {{user?.name}}!</p>
        </div>
    </div>
    <div *ngIf="isPrice" class="badges">
        <div class="badge">
            <img src="../../../../assets/images/icon_coin_1.png" alt="coin"/>
            <span>{{user?.point1}}</span>
        </div>
        <div class="badge">
            <img src="../../../../assets/images/icon_coin_2.png" alt="coin"/>
            <span>{{user?.point2}}</span>
        </div>
        <div class="badge">
            <img src="../../../../assets/images/icon_coin_3.png" alt="coin"/>
            <span>{{user?.point3}}</span>
        </div>
    </div>
    <div class="icons">
        <div class="icon setting ">
            <img class="" src="../../../../assets/images/setting_purple.svg" alt="setting"/>
        </div>
        <div class="icon alarm">
            <img class="icon alarm" src="../../../../assets/images/alarm.svg" alt="icon alarm"/>
        </div>
    </div>
</section>
