<div class="teachers">

    <app-header-log class="teachers-header"></app-header-log>
    <app-label-log class="teachers-label"></app-label-log>

    <div class="search-bar">
        <img src="../../../assets/images/lessons/lupa.svg" alt="search"/>
        <input type="text" placeholder="Пошук..."/>
    </div>

    <div class="teachers-container">

        <form [formGroup]="teacherForm" class="add-teacher">

            <input class="text-field" type="text" formControlName="name" placeholder="Ім'я">
            <input class="text-field" type="text" formControlName="lastname" placeholder="Прізвище">
            <input class="text-field" type="text" formControlName="patronymic" placeholder="По батькові">
            <input class="text-field" type="date" formControlName="birthDate" placeholder="Дата народження">
            <label for="image" class="img-container">
                <div class="content">
                    <div class="circle">
                        <img src="../../../assets/images/upload_img.svg" alt="upload icon">
                    </div>
                    <p class="text">Завантажити фотографію</p>
                </div>
                <input class="image-field" type="file" name="image" (change)="onFileSelected($event)" id="image">
            </label>

            <div class="levels">
                <p>Оберіть рівень:</p>
                <button *ngFor="let level of levels" type="button" (click)="selectLevel(level.name)" class="level-btn">
                    {{ level.name }}
                </button>
            </div>

        
            <button class="btn" type="button" (click)="openConfirmModal()" >Додати викладача</button>

        </form>

        <div class="teachers-list">

            <div class="teacher-header">
                <h3 class="head-text">Викладачі</h3>
                <div class="search-bar">
                    <img src="../../../assets/images/lessons/lupa.svg" alt="search"/>
                    <input type="text" placeholder="Пошук..."/>
                </div>
            </div>

            <div class="list" >

                <div *ngFor="let teacher of teachers" class="teacher">
                    <img [src]="teacher.avatarUrl" alt="teacher image">
                    <p class="teacher-info">{{ teacher.lastName }} {{ teacher.name }} {{teacher.patronymic}}</p>
                </div>
<!--                 
                <div class="teacher">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
                    <p class="teacher-info">Тарасенко Василь Дмитрович</p>
                </div>

                <div class="teacher">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
                    <p class="teacher-info">Тарасенко Василь Дмитрович</p>
                </div>

                <div class="teacher">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
                    <p class="teacher-info">Тарасенко Василь Дмитрович</p>
                </div>

                <div class="teacher">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
                    <p class="teacher-info">Тарасенко Василь Дмитрович</p>
                </div>

                <div class="teacher">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
                    <p class="teacher-info">Тарасенко Василь Дмитрович</p>
                </div>

                <div class="teacher">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
                    <p class="teacher-info">Тарасенко Василь Дмитрович</p>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="back" [ngClass]="{'active': showConfirmModal}">
    <div class="modal-window">

        <div class="modal-header">
            <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
            <h3 class="teacher-name">
                {{ teacherForm.get('lastname')?.value }}
                {{ teacherForm.get('name')?.value }}
                {{ teacherForm.get('patronymic')?.value }}
            </h3>
            <div class="buttons">
                <button class="btn-modal delete-teacher-btn">
                    <img src="../../../assets/images/icon_delete.svg" alt="delete icon">
                </button>

                <button class="btn-modal edit-teacher-btn">
                    <img src="../../../assets/images/icon_edit.svg" alt="delete icon">
                </button>
            </div>
        </div>

        <form [formGroup]="confirmForm" (ngSubmit)="submitAll()" class="confirm-form">
            <button class="btn">Завантажити розклад</button>

            <input type="text" formControlName="login" placeholder="логін" class="text-field">
            <input type="password" formControlName="password" placeholder="пароль" class="text-field">

            <input type="submit" value="Згенерувати" class="btn btn-submit">
        </form>
    </div>
</div>

<div class="back">
    <div class="modal-window edit">

        <form [formGroup]="teacherForm" class="edit-teacher">
            <input class="text-field" type="text" name="name" placeholder="Ім'я" value="Василь">
            <input class="text-field" type="text" name="lastname" placeholder="Прізвище" value="Тарасенко">
            <input class="text-field" type="text" name="patronymic" placeholder="По батькові" value="Дмитрович">
            <input class="text-field" type="date" name="date" value="12-02-1990">
            <label for="image" class="img-container">
                <div class="content">
                    <div class="circle">
                        <img src="../../../assets/images/teacher_photo.jpg" alt="upload icon">
                    </div>
                    <p class="text">Завантажити фотографію</p>
                </div>
                <input class="image-field" type="file" name="image" id="image">
            </label>
            <button class="btn" type="submit">Додати викладача</button>
        </form>
    </div>
</div>

<div class="back">
    <div class="modal-window delete">
        <h3 class="delete-message">Ви впевнені що хочете видалити?</h3>

        <div class="teacher">
            <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
            <p class="teacher-info">Тарасенко Василь Дмитрович</p>
        </div>

        <button class="btn btn-delete">Видалити</button>
    </div>
</div>