<div class="teachers">

    <app-header-log class="teachers-header"></app-header-log>
    <app-label-log class="teachers-label"></app-label-log>

    <div class="search-bar">
        <img src="../../../assets/images/lessons/lupa.svg" alt="search"/>
        <input type="text" placeholder="Пошук..."/>
    </div>

    <div class="teachers-container">

        <form action="#" class="add-teacher">

            <input class="text-field" type="text" name="name" placeholder="Ім'я">
            <input class="text-field" type="text" name="lastname" placeholder="Прізвище">
            <input class="text-field" type="text" name="patronymic" placeholder="По батькові">
            <input class="text-field" type="date" name="date" placeholder="Дата народження">
            <label for="image" class="img-container">
                <div class="content">
                    <div class="circle">
                        <img src="../../../assets/images/upload_img.svg" alt="upload icon">
                    </div>
                    <p class="text">Завантажити фотографію</p>
                </div>
                <input class="image-field" type="file" name="image" id="image">
            </label>
           

            <input type="button" value="Додати викладача" class="btn">

        </form>

        <div class="teachers-list">

            <div class="teacher-header">
                <h3 class="head-text">Викладачі</h3>

                <div class="search-bar">
                    <img src="../../../assets/images/lessons/lupa.svg" alt="search"/>
                    <input type="text" placeholder="Пошук..."/>
                </div>
            </div>

            <div class="list">

                <div class="teacher">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
                    <p class="teacher-info">Тарасенко Василь Дмитрович</p>
                </div>
                
                <div class="teacher">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
                    <p class="teacher-info">Тарасенко Василь Дмитрович</p>
                </div>
                
                <div class="teacher">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
                    <p class="teacher-info">Тарасенко Василь Дмитрович</p>
                </div>
                
                <div class="teacher">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
                    <p class="teacher-info">Тарасенко Василь Дмитрович</p>
                </div>
                
                <div class="teacher">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
                    <p class="teacher-info">Тарасенко Василь Дмитрович</p>
                </div>
                
                <div class="teacher">
                    <img src="../../../assets/images/teacher_photo.jpg" alt="teacher image">
                    <p class="teacher-info">Тарасенко Василь Дмитрович</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
