<div class="container">
    <app-header-log></app-header-log>

    <div class="form-update-password">
        <div>
            <h3>Змінити пароль</h3>
            <form>
                <div>
                    <input type="password" placeholder="Старий пароль"/>
                </div>
               <div>
                    <input type="password" placeholder="Новий пароль"/>
               </div>
               <div id="btn-upd-pass">
                    <input type="submit" value="Змінити пароль"/>
               </div>
            </form>
        </div>
    </div>

    <div class="form-delete-acc">
        <div>
            <h3>Видалити аккаунт</h3>
            <span>Ви впевнені,що хочете видалити аккаунт?</span>
            <img src="../../../assets/images/sad_cat.png" alt="sad-cat"/>
            <form>
                <div id="btn-delete-acc">
                    <input type="submit" value="Видалити аккаунт"/>
                </div> 
            </form>
        </div>
    </div>
</div>
