<div class="admin">
    <app-header-log class="admin-header"></app-header-log>
    <app-label-log class="admin-label" [user]="user"></app-label-log>

    <div class="search-bar">
        <img src="../../../assets/images/lessons/lupa.svg" alt="search"/>
        <input type="text" placeholder="Пошук..."/>
    </div>

    <div class="admin-container">

         <div class="students">
            <h2 class="students-header block-header">Студенти</h2>
            <div class="students-list">
                <div *ngFor="let student of lesson?.userLessons" class="student">
                    <div class="avatar">
                        <span class="first-letter">A</span>  <!-- can replace to img if student have avatar -->
                    </div>
                    <h3 class="initials">Аліна Гончар</h3>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle ofline"></div>
                    </div>
                </div>
                <!-- <div class="student">
                    <div class="avatar">
                       <img src="../../../assets/images/teacher_photo.jpg" alt="student photo">
                    </div>
                    <h3 class="initials">Аліна Гончар</h3>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="student">
                    <div class="avatar">
                        <span class="first-letter">A</span>
                    </div>
                    <h3 class="initials">Аліна Гончар</h3>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="student">
                    <div class="avatar">
                        <span class="first-letter">A</span>
                    </div>
                    <h3 class="initials">Аліна Гончар</h3>
                    <div class="online-status">
                        <div class="circle"></div>
                        <div class="circle ofline"></div>
                    </div>
                </div>
                <div class="student">
                    <div class="avatar">
                        <span class="first-letter">A</span>
                    </div>
                    <h3 class="initials">Аліна Гончар</h3>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="student">
                    <div class="avatar">
                        <span class="first-letter">A</span>
                    </div>
                    <h3 class="initials">Аліна Гончар</h3>
                    <div class="online-status">
                        <div class="circle"></div>
                        <div class="circle ofline"></div>
                    </div>
                </div> -->
            </div>
         </div>

         <div class="add-homework add-element">
            <div class="image">
                <img src="../../../assets/images/upload-hw.png" alt="upload homework image">
            </div>
            <button class="add-homework-btn btn" #openPopupBtn>Загрузити домашнє завдання</button>
         </div>
        <div class="add-lesson add-element">
            <div class="image">
                <img src="../../../assets/images/cat_daily.png" alt="upload lesson image">
            </div>
            <button class="add-lesson-btn btn">Створити новий урок</button>
        </div>

        <div class="tests">
            <h2 class="tests-header block-header">Тести</h2>
            <div class="tests-list">
                <a  class="test-link">{{ test }}</a>
            </div>
            <a [routerLink]="['/test',groupId]" class="tests-btn btn">Створити новий тест</a>
        </div>

        <div class="lesson-container">
            <h2 class="lesson-header block-header">Урок</h2>
            <div class="lesson-content">

                <strong>Lesson {{ lesson?.lessonCount}}</strong>
                <span>{{ lesson?.thame}}</span>

                <a [href]="lesson?.lessonUrl" download>урок</a>
                <a [href]="lesson?.homework" download>лз</a>
            
            </div>
            <!-- ???? -->
        </div>

    </div>
</div>


<div class="back" #popup>
    <div class="popup-content">
        <div class="close-btn"></div>
        <div class="popup-header">
            <h2 class="popup-title">Lesson 1</h2>
            <h3 class="lesson-theme">Greetings and Introductions</h3>
            <p class="task">Виконати вправи та написати неофіційний лист</p>
        </div>
        <div class="info">
            <div class="info-element">
                <span class="info-text">Викладач</span>
                <span class="info-data">Гончарук Андрій</span>
            </div>
            <div class="info-element">
                <span class="info-text">Видано</span>
                <span class="info-data">12.01.2025</span>
            </div>
            <div class="info-element">
                <span class="info-text">Дедлайн</span>
                <span class="info-data">22.01.2025</span>
            </div>
        </div>
        <form action="#" class="file-upload">
            <label for="file-input" class="file-container">
                <input type="file" name="file-input" id="file-input" class="file-input" />
                <div class="text">
                    <span>Завантажити</span>
                    <span>файл </span>
                    <span class="tablet-hidden">чи перетягнути в область</span>
                </div>
                <div class="size-text">Максимальний розмір файлу 30 МБ</div>
            </label>
            <input type="submit" value="Завантажити" class="submit-btn btn" />
        </form>
    </div>
</div>