<div class="admin">
    <app-header-log class="admin-header"></app-header-log>
    <app-label-log class="admin-label"></app-label-log>

    <div class="search-bar">
        <img src="../../../assets/images/lessons/lupa.svg" alt="search"/>
        <input type="text" placeholder="Пошук..."/>
    </div>

    <div class="admin-container">
         <div class="students">
            <h2 class="students-header block-header">Студенти</h2>
            <div class="students-list">
                <div class="student">
                    <div class="avatar">
                        <span class="first-letter">A</span>  <!-- can replace to img if student have avatar -->
                    </div>
                    <h3 class="initials">Аліна Гончар</h3>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle ofline"></div>
                    </div>
                </div>
                <div class="student">
                    <div class="avatar">
                        <span class="first-letter">A</span> 
                    </div>
                    <h3 class="initials">Аліна Гончар</h3>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="student">
                    <div class="avatar">
                        <span class="first-letter">A</span>
                    </div>
                    <h3 class="initials">Аліна Гончар</h3>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="student">
                    <div class="avatar">
                        <span class="first-letter">A</span>
                    </div>
                    <h3 class="initials">Аліна Гончар</h3>
                    <div class="online-status">
                        <div class="circle"></div>
                        <div class="circle ofline"></div>
                    </div>
                </div>
                <div class="student">
                    <div class="avatar">
                        <span class="first-letter">A</span>
                    </div>
                    <h3 class="initials">Аліна Гончар</h3>
                    <div class="online-status">
                        <div class="circle online"></div>
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="student">
                    <div class="avatar">
                        <span class="first-letter">A</span>
                    </div>
                    <h3 class="initials">Аліна Гончар</h3>
                    <div class="online-status">
                        <div class="circle"></div>
                        <div class="circle ofline"></div>
                    </div>
                </div>
            </div>
         </div>
         <div class="add-homework add-element">
            <div class="image">
                <img src="../../../assets/images/upload-hw.png" alt="upload homework image">
            </div>
            <button class="add-homework-btn btn">Загрузити домашнє завдання</button>
         </div>
        <div class="add-lesson add-element">
            <div class="image">
                <img src="../../../assets/images/cat_daily.png" alt="upload lesson image">
            </div>
            <button class="add-lesson-btn btn">Створити новий урок</button>
        </div>
        <div class="tests">
            <h2 class="tests-header block-header">Тести</h2>
            <div class="tests-list">
                <a href="#" class="test-link">Greetings and Introductions</a>
                <a href="#" class="test-link">Greetings and Introductions</a>
                <a href="#" class="test-link">Greetings and Introductions</a>
                <a href="#" class="test-link">Greetings and Introductions</a>
                <a href="#" class="test-link">Greetings and Introductions</a>
            </div>
            <button class="tests-btn btn">Створити новий тест</button>
        </div>
        <div class="lesson-container">
            <h2 class="lesson-header block-header">Урок</h2>
            <div class="lesson-content"></div>
            <!-- ???? -->
        </div>
    </div>
</div>

